extends _layout.pug
block contents
  h1= careerTrack2Projects[0].tags

  each project in careerTrack2Projects
      ul(value=project.curriculumId).curriculumButtons= project.title
        li= project.description
        li= project.group
        li= project.cohort
        li= project.tags
        li= project.deployedBackEnd
        li= project.deployedFrontEnd
        li= project.githubLink
  script
    include js/getCurriculumDetails.js 