extends _layout.pug
block contents
  h1 All Curriculum Projects

  each project in allCurriculumProjects
      ul(value=project.curriculumId).curriculumButtons= project.title
        li= project.description
        li= project.group
        li= project.cohort
        li= project.tags
        li= project.deployedBackEnd
        li= project.deployedFrontEnd
        li= project.githubLink
  script
    include js/getCurriculumDetails.js  