extends _layout.pug
block contents
  h1= detailedPortfolio.title

  ul= detailedPortfolio.title
    li= detailedPortfolio.description
    h5 Primary Language
    li= detailedPortfolio.primaryLanguage
    h5 Date Added 
    li= detailedPortfolio.date
    h5 GitHub Link
    li= detailedPortfolio.githubLink
    h5 Current Collaborators
    li= detailedPortfolio.collaborators
    h5 Open for Collaboration
    li= detailedPortfolio.open

  h1 Project comments!
  each comment in detailedPortfolio.comments
    ul
      li= comment.owner_email
      li= comment.comment      