extends _layout.pug
block contents
  h1= javascriptProjects[0].tags

  each project in javascriptProjects
      ul(value=project.portfolioId).portfolioButtons= project.title
        li= project.description
        li= project.primaryLanguage 
        li= project.date
        li= project.githubLink
        li= project.collaborators
        li= project.open
  script
    include js/getPortfolioDetails.js  