extends _layout.pug
block contents
  h1 All Portfolio Projects

  each project in allPortfolioProjects
      ul(value=project.portfolioId).portfolioButtons= project.title
        li= project.description
        li= project.primaryLanguage 
        li= project.date
        li= project.githubLink
        li= project.collaborators
        li= project.open
  script
    include js/getPortfolioDetails.js  