extends _layout.pug
block contents
  h1 All Portfolio Projects

  each project in allPortfolioProjects
      ul= project.title
        li= project.description
        li= project.group
        li= project.cohort
        li= project.tags
        li= project.deployedBackEnd
        li= project.deployedFrontEnd
        li= project.githubLink